.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

/* HOME PAGE */
.home-page {
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url("./images/SmiteBackground.png");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

.player-searchbar {
  color: black;
  padding: 50px 50px 50px;
  font-weight: 700;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: double;
  text-decoration-color: antiquewhite;
}
.links {
  color: black;
  padding: 50px 50px 50px;
  font-weight: 700;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: double;
  text-decoration-color: antiquewhite;
}
.links a {
  color: black;
}
.links a:hover {
  color: blue;
}


/* GODS PAGE */
.gods-container {
  align-items: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}
.gods-search-components {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: ;
}
.gods-filter {
  display: flex;
  flex-direction: row;
}
.gods-list{
  list-style: none;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  padding-top: 15px;
}

.gods-list, ul, li {
  align-items: center;
}

.god-list-image {
  height: 200px;
  width: 100px;
}

.god_ranks_table_div{
  text: center;
}

.match-teams-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

/* ITEMS PAGE */
.items-container {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.searchBar{
  text-align: center;
  font-weight: 400;
}
.itemsBuild{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr
}

.items-list{
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  padding: auto;
}

.items-list ul li {
  align-items: center;
}


/* BUILDS PAGE */
.builds-list {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  list-style: none;
}
.build-table img{
  padding: 10px;
}

.buildsHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}


/* BUILDS SHOW */
.build-god-image{
  padding: auto;
  width: 100px;
  height: auto;
}

.build-content{
  padding-top: 60px;
  display: flex;
}

.build-god-link {
  text-align: center;
}
.build-subtitle {
  text-align: center;
}
.build-table th{
  background-color: grey;
  color: white;
}

.build-table, th, td{
  border: 1px solid black;
}

.build-table, th{
  align-items: center;
  text-align: center;
}

/* BUILD NEW */
.build-new-container{
  padding-left: 50px;
}


/* PLAYERSEARCH */
.players-container{
  padding-top: 50px;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("./images/SmiteBackground.png");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

/* PLAYER ACCOUNT PAGE */
.player-page-details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portal-img, img {
  height: 100px; 
  width: 100px;;
}


.player-page-details div {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 30px;
}
.player-page-details table{
  width: 500px;
  vertical-align: middle;
  border: 1px solid black;
  border-collapse: separate;
  padding: 10px;
}
.player-page-details tr:hover{
  background-color: #f5f5f5;
}
.player-page-details tbody + th{
  text-align: center;
}
.player-page-details tr, td{
  width: 250px;
}
.player-page-details tr th, td{
  border: none;
  text-align: left;
}


/* PLAYER MATCH PAGES*/

.player-matches-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.accordion-header{
  padding:10px;
  cursor: pointer;
  position: relative;
}

.accordion-header:hover{
  background-color: darkgrey;
}

.accordion-indicator {
  /* float: right; */
  position: absolute;
  font-size: 30px;
  left: 30px;
  bottom: 10px;
}

img.match-god-image{
  /* height: 250px;
  width: 125px; */
  width: 100px;
  height: auto;
}

.player-match {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
}

.wrap-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.player-match-deets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.player-match-deets-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  flex-wrap: wrap;
}

.player-match-link {
  /* padding-top: 15px; */
  bottom: 20px;
  text-align: left;
}
.player-match-god {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-right: 50px;
}

.player-match-table th, td{
  text-align: left;
  border: none;
}

/* GOD RANKS */
.god-ranks-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.god-ranks-godcard{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 15px;
  width: 120px;
  padding-right: 15px;
}
.god-ranks-godcard img{
  width: 120px;
  height: auto;
  padding: 10px;
}
.god-ranks-data {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
  flex-wrap: wrap;
}

.god-ranks-data div{
  width: auto;
  padding: 10px;
}

.god-ranks-data div:hover{
  background-color: aquamarine;
}



/* GOD PAGE */
.god-img img {
  width: 250px;
  height: auto;
}

.god-img {
  align-self: center;
  padding: 5px;
}
.god_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  background-color: antiquewhite;
}

.god-abilities-table th, td {
  border: none;
}
.god-abilities-table  td {
  text-align: start;
  padding: 10px;
}
.god-play {
  padding: 15px;
  align-self: center;
  background-color: antiquewhite;
}
.god_header {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: peru;
  color: black;
  padding: 5px;
}
.god_header h3, h4, p {
  padding: 10px;
}

/* ITEM PAGE */

.god-img img {
  width: 250px;
  height: auto;
}

/* .god-img {
  align-self: center;
  padding: 5px;
} */
.item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;

}

.item-info {
  padding: 15px;
  align-self: center;

}
.item-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: black;
  padding: 15px;
}


/*  */

.losing-team{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.winning-team{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}


.findPlayerForm{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* BUILD NEW FORM */
.buildForm {
  align-items: center;
}

.itemsBuild{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}

.item-image{
  height: 50px;
  width: 50px;
}